.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 965px;
}

.background {
    position: absolute;
    border-radius: 20px;
    z-index: 0;
}

.arrow {
    z-index: 1;
    transition: 200ms;
}

.arrow:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.character {
    transform: scaleX(-1);
}

.charCont {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 600px;
}

.textCont {
    width: 300px;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.title {
    color: white;
    -webkit-text-stroke: var(--oxford-blue) 1px;
    font-family: 'Melted Monster', sans-serif;
    font-size: 60px;
}

.desc {
    font-family: 'Mali', cursive;
    background-color: rgba( 255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 10px;
    color: var(--oxford-blue);
}