.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: var(--cadet-blue);
    position: sticky;
    top: 0;
    z-index: 2;
}

.logo {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    color: #F7E5B5;
    font-family: 'DynaPuff', cursive;
    font-size: 40px;
    font-weight: bold;
}

.logo div {
    margin-left: 20px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cadet-blue);
    color: var(--rose-quartz);
    font-family: 'Mali', cursive;
    font-size: 35px;
    font-weight: bold;
    padding: 20px;
    text-decoration: none;
    text-align: center;
    width: 300px;
    transition: 200ms;
}

.btn:hover {
    background-color: var(--oxford-blue);
    cursor: pointer;
}