.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--rose-quartz);
    width: 965px;
    height: 760px;
    font-family: 'Melted Monster', sans-serif; 
}

.container h1{
    font-size: 90px;
    color: var(--monster-green);
    -webkit-text-stroke: var(--cadet-blue) 1px;
    display: flex;
    align-items: center;
    margin: 20px;
}

.container h3{
    font-size: 30px;
    color: var(--monster-green);
    -webkit-text-stroke: var(--cadet-blue) 1px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.charsCont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.btn {
    background-color: var(--oxford-blue);
    border: solid var(--almond) 8px;
    border-radius: 60px;
    color: var(--rose-quartz);
    font-family: 'Mali', cursive;
    font-size: 35px;
    font-weight: bold;
    padding: 20px;
    text-decoration: none;
    text-align: center;
    width: 300px;
    transition: 200ms;
}

.btn:hover {
    background-color: var(--ultra-violet);
    cursor: pointer;
}